@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: 62.5%;
}

.project__card__container::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("../images/loader.gif") no-repeat center;
  z-index: 999999999999;
}

/* ----- keyframes animation ----- */
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #f79328;
  }
}
/*
-------------------------------------------------------------------
// left Side css design
-------------------------------------------------------------------
*/
.sidebar {
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: 0px 3.95px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  z-index: 100;
}
.sidebar ul {
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  list-style: none;
  text-align: center;
  margin: 6rem auto;
  padding: 5rem auto;
  transition: all 0.5s ease-out;
}
.sidebar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.18em;
  color: #404040;
  transition: all 0.3s;
}
.sidebar ul li a:hover {
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.sidebar ul li a i {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  transition: all 0.25s;
}
.sidebar ul li a .fa-solid {
  color: #404040;
}
.sidebar ul li a:hover .fa-solid {
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.sidebar ul li:nth-last-child(4) {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  html {
    font-size: 55%;
  }
}
/*
-------------------------------------------------------------------
// for mobile view css
-------------------------------------------------------------------
*/
.mobile_view {
  display: none;
  z-index: 500;
}
.mobile_view .mobile__view__logo__container {
  width: 70px;
  height: 70px;
}
.mobile_view i {
  font-size: 2.5rem;
  padding-right: 1.2rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .mobile_view {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
  .mobile_view ul {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_view ul li {
    list-style: none;
    padding: 0 1rem;
    border-right: 1px solid #f79328;
  }
  .mobile_view ul li:last-child {
    border-right: none;
  }
  .mobile_view ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #404040;
  }
  body {
    background-size: 150% 80% !important;
  }
}
/*
-------------------------------------------------------------------
// desktop__social__icon css
-------------------------------------------------------------------
*/
.desktop__social__icon {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 600;
}
.desktop__social__icon a {
  font-size: 2rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: #333;
  color: #999;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.desktop__social__icon a:hover:nth-child(1) {
  color: #fff;
  background: rgba(255, 26, 26, 0.6);
  box-shadow: 0 0 0 5px rgba(255, 179, 179, 0.1), 0 0 0 10px rgba(255, 128, 128, 0.1), 0 0 0 15px rgba(255, 102, 102, 0.1);
}
.desktop__social__icon a:hover:nth-child(2) {
  color: #fff;
  background: rgba(0, 255, 85, 0.6);
  box-shadow: 0 0 0 5px rgba(204, 255, 221, 0.1), 0 0 0 10px rgba(153, 255, 187, 0.1), 0 0 0 15px rgba(102, 255, 153, 0.1);
}
.desktop__social__icon a:hover:nth-child(3) {
  color: #fff;
  background: rgb(10, 102, 194);
  box-shadow: 0 0 0 5px rgba(0, 111, 230, 0.1), 0 0 0 10px rgba(51, 150, 255, 0.1), 0 0 0 15px rgba(128, 189, 255, 0.1), 0 0 0 20px rgba(179, 215, 255, 0.1), 0 0 0 25px rgba(230, 242, 255, 0.1);
}
.desktop__social__icon a:hover:nth-child(4) {
  color: #fff;
  background: rgb(1, 101, 225);
  box-shadow: 0 0 0 5px rgba(0, 111, 230, 0.1), 0 0 0 10px rgba(51, 150, 255, 0.1), 0 0 0 15px rgba(128, 189, 255, 0.1), 0 0 0 20px rgba(179, 215, 255, 0.1), 0 0 0 25px rgba(230, 242, 255, 0.1);
}

@media only screen and (max-width: 768px) {
  .desktop__social__icon {
    display: none;
  }
}
/*
-------------------------------------------------------------------
// contact btn container
-------------------------------------------------------------------
*/
.contact__btn__container {
  width: 15%;
  height: 4rem;
  background-color: #fff;
  border: 0.5px solid #f79328;
  border-radius: 6.6rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  margin: 0 auto;
}
.contact__btn__container h5 {
  font-weight: 700;
  font-size: 1.2rem;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}
.contact__btn__container span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25%;
  height: 100%;
  background-color: #f79328;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__btn__container span i {
  font-size: 1.5rem;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .contact__btn__container {
    display: none;
  }
}
/*
-------------------------------------------------------------------
// main body css 1
-------------------------------------------------------------------
*/
.x__content {
  width: 90%;
  height: 100vh;
  margin: 0 0 0 10%;
  position: relative;
  overflow: hidden;
}
.x__content .main__head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  transition: all 0.5s ease-in-out;
}
.x__content .main__head h3 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 4.4rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #545454;
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.x__content .main__head h1 {
  color: transparent;
  background-image: url("../images/tigerskin.jpg");
  background-position: center;
  background-size: contain;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  display: block;
  font-size: 9.5rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  animation-name: moveRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.x__content .main__head ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  animation-name: moveBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.x__content .main__head ul li {
  list-style: none;
  padding: 0 3rem;
  border-right: 2px solid #f79328;
  text-align: center;
}
.x__content .main__head ul li a {
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: rgba(40, 39, 39, 0.6);
  transition: all 0.5s;
}
.x__content .main__head ul li a:hover {
  font-weight: bold;
}
.x__content .main__head ul li:last-child {
  border-right: none;
}
.x__content .main__head .project__card__container {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: scroll;
}
.x__content .main__head .project__card__container .project__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 6rem;
}
.x__content .main__head .project__card__container .project__card .card {
  width: 40rem;
  height: auto;
  background: #404040;
  box-shadow: 7.36336px 7.36336px 11.045px rgba(65, 65, 65, 0.25);
  border-radius: 22.0901px;
  padding: 1.5rem;
  transition: all 0.5s;
}
.x__content .main__head .project__card__container .project__card .card .card-body {
  color: #fff;
}
.x__content .main__head .project__card__container .project__card .card .card-body h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  line-height: 27px;
  text-transform: capitalize;
  color: #f79328;
  padding: 2rem 0;
}
.x__content .main__head .project__card__container .project__card .card .card-body .card-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 20px;
  text-align: justify;
  text-transform: capitalize;
  color: #ffffff;
}
.x__content .main__head .project__card__container .project__card .card:hover {
  transform: scale(0.99);
  box-shadow: 0.36336px 0.36336px 0.045px rgba(65, 65, 65, 0.25);
}
.x__content .main__head.decreaseWidth {
  width: 70%;
}
.x__content .aside {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10rem;
  overflow: hidden;
}
.x__content .aside .contact__form {
  width: 80%;
  height: auto;
  margin: 0 auto;
  transform: translateX(120%);
  transition: all 0.5s ease-in-out;
}
.x__content .aside .contact__form .card {
  padding: 3rem 2rem;
  background: rgba(64, 64, 64, 0.3);
  border: 0.5px solid #a4a4a4;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}
.x__content .aside .contact__form .card .card__head {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 0.5px solid #ffffff;
}
.x__content .aside .contact__form .card .card__head h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.x__content .aside .contact__form .card .card__body input[type=text],
.x__content .aside .contact__form .card .card__body input[type=number],
.x__content .aside .contact__form .card .card__body input[type=email],
.x__content .aside .contact__form .card .card__body select,
.x__content .aside .contact__form .card .card__body textarea {
  padding: 1rem 0.9rem;
  font-size: 1.8rem;
}
.x__content .aside .contact__form .card .card__body input[type=text]::-moz-placeholder, .x__content .aside .contact__form .card .card__body input[type=number]::-moz-placeholder, .x__content .aside .contact__form .card .card__body input[type=email]::-moz-placeholder, .x__content .aside .contact__form .card .card__body select::-moz-placeholder, .x__content .aside .contact__form .card .card__body textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.x__content .aside .contact__form .card .card__body input[type=text]::placeholder,
.x__content .aside .contact__form .card .card__body input[type=number]::placeholder,
.x__content .aside .contact__form .card .card__body input[type=email]::placeholder,
.x__content .aside .contact__form .card .card__body select::placeholder,
.x__content .aside .contact__form .card .card__body textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.x__content .aside .contact__form .card .card__body select {
  padding: 1rem 0.9rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.x__content .aside .contact__form .card .card__body .btn__custom {
  font-family: "roboto";
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f79328;
  box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.x__content .aside .contact__form .card .card__body .btn__custom:active {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.x__content .aside .contact__form .card .card__body .btn__custom:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.x__content .contact__form.showForm {
  transform: translateX(0%);
}

@media only screen and (max-width: 768px) {
  .x__content {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .x__content .main__head {
    padding-top: 18rem;
  }
  .x__content .main__head h3 {
    font-size: 4rem;
  }
  .x__content .main__head h1 {
    font-size: 7.5rem;
  }
  .x__content .main__head ul li {
    padding: 0 0.5rem;
    text-align: center;
  }
  .x__content .main__head .project__card__container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .x__content .main__head .project__card__container .project__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .x__content .main__head .project__card__container .project__card .card {
    width: 80%;
    margin: 0 auto;
  }
  .x__content .aside {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 447px) {
  .x__content .main__head h3 {
    font-size: 3rem;
  }
  .x__content .main__head h1 {
    font-size: 7rem;
  }
  .x__content .main__head ul li a {
    font-weight: 600;
    font-size: 1rem;
  }
  .x__content .main__head .project__card__container .project__card .card {
    width: 95%;
    margin: 0 auto;
  }
}
/*
-------------------------------------------------------------------
// About us page css 
-------------------------------------------------------------------
*/
.Card__container {
  width: 100%;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  position: relative;
  background-color: transparent;
}
.Card__container .card {
  width: 90%;
  border: none;
  background-color: transparent;
}
.Card__container .card .card-head h1 {
  font-family: "Bebas Neue";
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #f79328;
  letter-spacing: 0.135em;
  margin-bottom: 1rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  background-color: rgba(64, 64, 64, 0.11);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.Card__container .card .card-body {
  padding: 1.2rem 2rem;
  width: 100%;
  height: 80vh;
  z-index: 2;
  overflow-y: scroll;
}
.Card__container .card .card-body::-webkit-scrollbar {
  width: 0.1rem;
  border-radius: 0.9rem;
}
.Card__container .card .card-body::-webkit-scrollbar-track {
  border-radius: 0.9rem;
}
.Card__container .card .card-body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f79328);
  opacity: 0.1;
  border-radius: 0.9rem;
  cursor: pointer;
}
.Card__container .card .card-body .card-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #404040;
  text-align: justify;
  margin-bottom: 1rem;
}
.Card__container .card .card-body .card-text ul li {
  font-weight: 400;
  font-size: 1.8rem;
}
.Card__container .card .card-body ul li {
  font-weight: 400;
  font-size: 1.8rem;
}

.rightImage {
  width: 100%;
  height: 100vh;
  background-image: url("../images/home.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  transition: all 0.8s;
  z-index: 1;
}
.rightImage .contact__form {
  width: 70%;
  height: auto;
  margin: 0 auto;
  transform: translateX(120%);
  padding-top: 10rem;
  padding-left: 8rem;
  transition: all 0.5s ease-in-out;
}
.rightImage .contact__form .card {
  padding: 3rem 2rem;
  background: rgba(64, 64, 64, 0.3);
  border: 0.5px solid #a4a4a4;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}
.rightImage .contact__form .card .card__head {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 0.5px solid #ffffff;
}
.rightImage .contact__form .card .card__head h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.rightImage .contact__form .card .card__body input[type=text],
.rightImage .contact__form .card .card__body input[type=number],
.rightImage .contact__form .card .card__body input[type=email],
.rightImage .contact__form .card .card__body select,
.rightImage .contact__form .card .card__body textarea {
  padding: 1rem 0.9rem;
  font-size: 1.8rem;
}
.rightImage .contact__form .card .card__body input[type=text]::-moz-placeholder, .rightImage .contact__form .card .card__body input[type=number]::-moz-placeholder, .rightImage .contact__form .card .card__body input[type=email]::-moz-placeholder, .rightImage .contact__form .card .card__body select::-moz-placeholder, .rightImage .contact__form .card .card__body textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.rightImage .contact__form .card .card__body input[type=text]::placeholder,
.rightImage .contact__form .card .card__body input[type=number]::placeholder,
.rightImage .contact__form .card .card__body input[type=email]::placeholder,
.rightImage .contact__form .card .card__body select::placeholder,
.rightImage .contact__form .card .card__body textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.rightImage .contact__form .card .card__body select {
  padding: 1rem 0.9rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.rightImage .contact__form .card .card__body .btn__custom {
  font-family: "roboto";
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f79328;
  box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.rightImage .contact__form .card .card__body .btn__custom:active {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.rightImage .contact__form .card .card__body .btn__custom:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.rightImage .contact__form.showaboutForm {
  transform: translateX(10%);
}

@media only screen and (max-width: 768px) {
  .Card__container {
    margin-top: 15rem;
  }
  .Card__container .card {
    width: 100%;
  }
  .Card__container .card .card-body {
    height: auto;
  }
  .rightImage {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .rightImage .contact__form {
    transform: translateX(0%);
    padding-left: 0;
  }
}
/*
-------------------------------------------------------------------
// service page css
-------------------------------------------------------------------
*/
.Card__container .service__card {
  transition: all 0.5s;
}
.Card__container .service__card .card-body {
  height: 60vh;
}
.Card__container .service__card1,
.Card__container .service__card2,
.Card__container .service__card3 {
  display: none;
  transition: all 0.8s;
}
.Card__container .service__card1 .card-body,
.Card__container .service__card2 .card-body,
.Card__container .service__card3 .card-body {
  height: 60vh;
}
.Card__container .service__tab {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 499;
  display: flex;
}
.Card__container .service__tab .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
.Card__container .service__tab .tab i {
  font-size: 2.5rem;
  transition: all 0.5s;
}
.Card__container .service__tab .tab .tab__content {
  background-color: #f79328;
  padding: 1rem 2rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.008rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.Card__container .service__tab .tab .first_child {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
.Card__container .service__tab .tab .last_child {
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.Card__container .service__tab .tab .fa-solid {
  color: #f79328;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.Card__container .service__tab .tab:hover {
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.service_img {
  background-image: url("../images/service.png");
}

.service_img1 {
  background-image: url("../images/service1.png");
}

.service_img2 {
  background-image: url("../images/service2.png");
}

.service_img3 {
  background-image: url("../images/service3.png");
}

@media only screen and (max-width: 768px) {
  .Card__container {
    margin-top: 15rem;
  }
  .Card__container .service__card .card-body {
    height: auto;
    margin-bottom: 15rem;
  }
  .Card__container .service__card1,
  .Card__container .service__card2,
  .Card__container .service__card3 {
    display: none;
    transition: all 0.8s;
  }
  .Card__container .service__card1 .card-body,
  .Card__container .service__card2 .card-body,
  .Card__container .service__card3 .card-body {
    height: auto;
    margin-bottom: 15rem;
  }
  .Card__container .service__tab {
    bottom: 3%;
  }
}
/*
-------------------------------------------------------------------
// Contact page css design
-------------------------------------------------------------------
*/
.Card__container .contact__form__container {
  animation-name: moveLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.Card__container .contact__form__container .card {
  width: 44rem;
  height: 48rem;
  background-color: #fafafa;
  padding: 2rem;
  background: #fafafa;
  box-shadow: 0px 3.94593px 25px rgba(0, 0, 0, 0.2);
  border-radius: 1.14rem;
  margin-bottom: 3rem;
}
.Card__container .contact__form__container .card .card__head {
  padding-bottom: 2rem;
}
.Card__container .contact__form__container .card .card__head h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f79328;
  border-bottom: 0.633849px solid rgba(64, 64, 64, 0.6);
  padding-bottom: 0.8rem;
  text-align: center;
}
.Card__container .contact__form__container .card .card__body input[type=text],
.Card__container .contact__form__container .card .card__body input[type=number],
.Card__container .contact__form__container .card .card__body input[type=email],
.Card__container .contact__form__container .card .card__body select,
.Card__container .contact__form__container .card .card__body textarea {
  padding: 1rem 0.9rem;
  font-size: 1.8rem;
  border-radius: 10.1416px;
}
.Card__container .contact__form__container .card .card__body input[type=text]::-moz-placeholder, .Card__container .contact__form__container .card .card__body input[type=number]::-moz-placeholder, .Card__container .contact__form__container .card .card__body input[type=email]::-moz-placeholder, .Card__container .contact__form__container .card .card__body select::-moz-placeholder, .Card__container .contact__form__container .card .card__body textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.Card__container .contact__form__container .card .card__body input[type=text]::placeholder,
.Card__container .contact__form__container .card .card__body input[type=number]::placeholder,
.Card__container .contact__form__container .card .card__body input[type=email]::placeholder,
.Card__container .contact__form__container .card .card__body select::placeholder,
.Card__container .contact__form__container .card .card__body textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
}
.Card__container .contact__form__container .card .card__body select {
  padding: 1rem 0.9rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: rgba(64, 64, 64, 0.6);
  border-radius: 10.1416px;
}
.Card__container .contact__form__container .card .card__body .btn__custom {
  font-family: "roboto";
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f79328;
  box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.Card__container .contact__form__container .card .card__body .btn__custom:active {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.Card__container .contact__form__container .card .card__body .btn__custom:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.Card__container .contact__form__container .mobile__social__icon {
  display: none;
}

.contactImage {
  background-image: url("../images/contact.png");
}
.contactImage .contact__form {
  display: none;
}

@media only screen and (max-width: 668px) {
  .Card__container .contact__form__container .card {
    width: 40rem;
  }
  .contactImage {
    height: 25vh;
  }
}
@media only screen and (max-width: 350px) {
  .Card__container .contact__form__container .card {
    width: 33rem;
  }
}
/*
-------------------------------------------------------------------
// Footer css design
-------------------------------------------------------------------
*/
.footer {
  width: 100%;
  height: 70px;
  position: absolute;
  right: 0rem;
  bottom: 10px;
  z-index: 10;
}
.footer .footer__container {
  width: 235px;
  position: absolute;
  right: 0rem;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer__container .mobile__social__icon {
  margin-bottom: 2rem;
  display: none;
}
.footer .footer__container .mobile__social__icon a {
  font-size: 2rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: #333;
  color: #999;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.footer .footer__container .mobile__social__icon a:hover:nth-child(1) {
  color: #fff;
  background: rgba(255, 26, 26, 0.6);
  box-shadow: 0 0 0 5px rgba(255, 179, 179, 0.1), 0 0 0 10px rgba(255, 128, 128, 0.1), 0 0 0 15px rgba(255, 102, 102, 0.1);
}
.footer .footer__container .mobile__social__icon a:hover:nth-child(2) {
  color: #fff;
  background: rgba(0, 255, 85, 0.6);
  box-shadow: 0 0 0 5px rgba(204, 255, 221, 0.1), 0 0 0 10px rgba(153, 255, 187, 0.1), 0 0 0 15px rgba(102, 255, 153, 0.1);
}
.footer .footer__container .mobile__social__icon a:hover:nth-child(3) {
  color: #fff;
  background: rgba(0, 111, 230, 0.6);
  box-shadow: 0 0 0 5px rgba(0, 111, 230, 0.1), 0 0 0 10px rgba(51, 150, 255, 0.1), 0 0 0 15px rgba(128, 189, 255, 0.1), 0 0 0 20px rgba(179, 215, 255, 0.1), 0 0 0 25px rgba(230, 242, 255, 0.1);
}
.footer .footer__container .mobile__social__icon a:hover:nth-child(4) {
  color: #fff;
  background: rgba(0, 111, 230, 0.6);
  box-shadow: 0 0 0 5px rgba(0, 111, 230, 0.1), 0 0 0 10px rgba(51, 150, 255, 0.1), 0 0 0 15px rgba(128, 189, 255, 0.1), 0 0 0 20px rgba(179, 215, 255, 0.1), 0 0 0 25px rgba(230, 242, 255, 0.1);
}
.footer .footer__container h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 28px;
  letter-spacing: 0.285em;
  font-variant: small-caps;
  color: #404040;
  text-align: right;
}
.footer .footer__container a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 17px;
  color: #f79328;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    position: relative;
  }
  .footer .footer__container {
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .footer__container .mobile__social__icon {
    display: block;
  }
}/*# sourceMappingURL=custom.css.map */